# Node modules
node_modules/
**/node_modules/

# Build directories
/build/
dist/

# Log files
*.log

# Environment variables
.env
**/.env.*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Ignore Terraform state and lock files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Ignore local overrides
*.local

*.mp4
*.sql
