.reset-password-container {
  padding-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form label {
  font-size: 1.1rem;
  margin-bottom: 5px;
  display: block;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form button {
  background-color: #9b111e; 
  color: #d2a679; 
  font-size: 1.1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #7f2d0b;
  color: #fff; 
}

.form .secondary-button {
  margin-top: 10px;
  background-color: #9b111e;
  border: none;
  color: #d2a679;
}

.form .secondary-button:hover {
  background-color: #7f2d0b;
  color: #fff;
}

.form .error {
  color: #ff0000; 
  font-size: 0.9rem;
  margin-top: 5px;
}

.form .email-container {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form {
    padding: 20px; 
    max-width: 100%; 
  }
}
