/* home.css */
.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  font-family: 'Playfair Display', serif;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.container .heading {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #e20000, #9b111e);
  -webkit-background-clip: text; /* Vendor-prefixed property */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* Ensure proper text transparency in WebKit browsers */
}

.container .subheading {
  font-style: italic;
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #e20000, #9b111e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.container .button {
  background-color: #92350f;
  &:hover {
    background-color: #7f2d0b;
    border: 2px solid #9b111e;
  }
  font-style: italic;
  color: #9b111e;
  font-family: 'Playfair Display', serif;
  border: 2px solid transparent;
  padding: 12px 32px;
  font-size: 1.2rem;
  border-radius: 30px;
  text-transform: none;
  text-shadow: 0px 0px 1px black, 0px 0px 0px black;
}
