/* Product Details Page Layout */
.product-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px auto;
  max-width: 1200px;
  padding: 20px;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 100px;
}

.product-details-image img {
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-details-info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Product Name Styling */
.product-details-info h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #9b111e;
  font-family: 'Playfair Display', serif;
  text-shadow: 0px 0px 2px black;
}

/* Review Section Styling */
.reviews {
  margin-top: 40px;
  padding: 0 20px; /* Ensure horizontal padding */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 30px; /* Add some margin to the top */
  padding-bottom: 20px; /* Space between reviews section and the bottom of the page */
}

/* Review Title Styling */
.reviews h3 {
  font-size: 1.8rem;
  color: #9b111e;
  font-weight: bold;
  text-shadow: 0px 0px 2px black;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* Ensure space between "Please log in" and the reviews section */
.no-review-message {
  margin-top: 20px; /* Add top margin to create space between the message and reviews section */
  padding: 0 20px;
  font-size: 1rem;
  margin-left: 40px; /* Increase left margin for better spacing */
}

/* Review Title Container Styling */
.review-title {
  margin-left: 40px; /* Increase left margin for better space */
  margin-top: 20px; /* Add margin top for better space */
}

/* Add margin-left to the form */
form {
  margin-left: 40px; /* Adjust this value to your desired space */
}




/* Individual Review Box Styling */
.review {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  width: 90%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

/* Review Text Styling */
.review p {
  font-size: 1.1rem;
  margin: 5px 0;
  color: #333;
  line-height: 1.5;
}

.review em {
  color: #555;
  font-size: 0.9rem;
  display: block;
  margin-top: 5px;
}

/* Ensure space between "Please log in" and the reviews section */
.no-review-message {
  margin-top: 20px; /* Add top margin to create space between the message and reviews section */
  padding: 0 20px;
  font-size: 1rem;
  color: #555;
}

.review + .rev
